/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/*criano variáveis cor*/
:root {
    --bg-color: #dad7cd;
    --second-bg-color: #cfd8c0;
    --text-color: #344e41;
    --main-color: #3a5a40;
}


/*body*/
body{
    background-color: var(--second-bg-color);
}


/*barra de navegação*/
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 4rem;
}

header nav ul{
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}

header img{
    height: 80px;
}

header a{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

header a:hover, header a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


/*section-principal*/
.container-title{
    display: flex;
    justify-content: center;
}

.section-principal h1{
    margin-top: 8%;
    text-align: center;
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
}

.img-spl{
    border-radius: 10px;
    border: 1px solid var(--main-color);
    width: 50%;
    margin-left: 4rem;
    margin-top: 7rem;
}

.img-icon{
    margin-left: 7rem;
    margin-top: 5rem;
}

.container-b1{ /*b1 = bloco 1*/
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.container-b1 p{
    color: var(--bg-color);
    width: 30%;
    background-color: var(--text-color);
    border-radius: 50px;
    padding: 2%;
    margin-left: 2rem;
}

.title-sections{
    text-align: center;
    margin-top: 8%;
    color: var(--text-color);
}

#image{
    width: 500px;
}

/*Rodapé*/

.rodape{
    margin-top: 20%;
}